$desktop-width: 1600px;
$small-desktop-width: 1198px;

$tablet-width: 980px;
$mobile-width: 630px;

$header-tablet-width: 720px;

$container-desktop-width: 1160px;
$container-small-desktop-width: 940px;
$container-tablet: 600px;
$container-mobile: 300px;

$header-nav-narrow-width: 860px;
$header-nav-none-width: 700px;
